body {
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    font-size: 22px;
}

.clearfix:after {
Content: “”;
Display: block;
Clear: both;
}

.extrabold {
	font-weight: 800;
}

.silver{
	background-color: #C0C0C0;
}

.grey{
color:#989898;
}

.underline {
	text-decoration: underline;
	text-decoration-color: yellow;

}


header{
	height: 125px;
	background-color: black;
	border-bottom: 2px solid yellow;
	box-sizing: border-box;
}

header .logo {
	color: yellow;
	font-size: 40px;
	font-weight: 600; /*semibold*/
	float:left;
	width:100%;
}

header .logo h1{
	margin: 25px 0 10px 25px;
}


header nav {
	color: white;
	font-size: 24px;
	float: left;
	width: 100%;
	box-sizing: border-box;

}

header ul {
	float:right;
	box-sizing: border-box;
	padding-right:2%;

}

header nav ul li{
	display: inline-block;
	margin: 10px;
	box-sizing: border-box;
	}

header a {
	color:white;
	text-decoration: none;
}

header a:hover {
    color: yellow;
}

article {
	height: 660px;
	background-image: url(../images/coworking.jpg);
	background-size: cover;
	background-position: top center;
}

.mainbox {
	background-color: rgba(255, 255, 255, 0.8);
	color: black;
	height: 72%;
	width: 38%;
	float:right;
	margin: 24px;
}

.innerbox {
	margin: 40px;

}

.topbox h1{
	font-size: 30px;
	font-weight: 800;
}

.topbox p {
	line-height: 150%;
	margin: 30px 0 30px 0;
}

.createbutton{
	background-color: yellow;
	padding: 20px;
	text-align: center;

}

.createbutton a {
text-decoration: none;
font-size: 30px;
font-weight: 800;
color:black;
}

.createbutton a:hover {
    color: silver;
}


.headline {
	height: 10%;
}

.headline h2 {
	margin:auto;
	padding-top:1.8%;
	font-style: italic;
	font-size: 24px;
	font-weight: 800;
	text-align: center;
}

section {
	width:100%;
	height:400px;
}

aside {
	float:left;
	height: 100%;
	width:33.2%;
}

.subcontainer{
	margin: 30px;
	font-size: 20px;
	font-weight: 600;
}

.subcontainer h1{
	margin: 0 0 0 15px;
	font-size: 30px;
	font-weight: bold;
}

.subcontainer p {
	margin: 18px 18px 50px 5px;
	line-height: 150%;
}

.one, .two {
	border-right: 1px solid;
}

aside a {
	padding: 15px 25px 15px 25px;
	margin: 18px 18px 18px 0px;
	border-radius: 5px;
	text-decoration: none;
	color: black;
	font-weight: 800;
}

aside a:hover {
    color: white;
}


footer {
	background-color: black;
	color: white;
	height: 80px;
}

footer .copyright p {
	font-weight: 600;
	float: left;
	margin: 30px;
}
